<nav>
  <ul>
    <li>
      <a href="#explore">
        <button><%= footer-link %></button>
      </a>
    </li>
    <li>
      <a href="#explore">
        <button>Découvrir</button>
      </a>
    </li>
    <li>
      <a href="#profile">
        <button>Créer un profil</button>
      </a>
    </li>
    <li>
      <a href="#home">
        <button>Commencer</button>
      </a>
    </li>
  </ul>
</nav>
    <!--
      <li>
          <a href="results.html">
              <button>Valider</button>
          </a>
      </li>
      <li>
          <a href="anim.html">
              <button>Passer</button>
          </a>
      </li>
      <li>
          <a href="anim.html">
              <button type="submit">Envoyer</button>
          </a>
      </li>
      <li>
          <a href="#">
              <button type="submit">Modifier</button>
          </a>
      </li>
      <li>
          <a href="#">
              <button type="submit">Valider</button>
          </a>
      </li>
    -->



<!-- share -->
<!--footer>
      <section>
          <h3>Puis choississez le média de partahe souhaité</h3>
          <ul>
              <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 56.7v398.5c0 13.7-11.1 24.7-24.7 24.7H309.1V306.5h58.2l8.7-67.6h-67v-43.2c0-19.6 5.4-32.9 33.5-32.9h35.8v-60.5c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9h-58.4v67.6h58.4V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32h398.5c13.7 0 24.8 11.1 24.8 24.7z"/></svg></a></li>
              <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z"/></svg></a></li>
              <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"/></svg></a></li>
              <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"/></svg></a></li>
          </ul>
      </section>
  </footer-->

<!-- results -->
<!--footer class="footer-buttons">
      <nav>
          <ul>
              <li>
                  <a href="#" class="refresh">
                      <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                          <path class="st0" d="M-12.5,1.6c-0.8-3.2-1.8-5.7-3.3-7.8c-4.8-7.1-11.4-10.6-20-10.7c-2.4,0-17.1,0-19.9,0l-1,0l-0.5-1
                          c-0.3-0.6-0.1-1.3,0.4-1.8l0.2-0.2c1.7-1.6,6.7-6.5,8.6-8.3c-0.8-0.8-1.5-1.4-2.1-2c-1-0.9-1.9-1.7-3-2.9c-0.1,0.1-0.3,0.2-0.5,0.4
                          c-3.3,3.2-16.9,16.6-20.8,20.4C-71-8.7-59.3,3.8-53.9,9.2l1.9-2c1.2-1.2,2.3-2.3,3.6-3.6c-2.1-2.2-7.5-8.1-8.7-9.3l-0.7-0.7l0.8-1.9
                          l1.1-0.1c2.2,0,17.4,0,19.7,0c3.4,0,6.6,0.9,9.3,2.9c3.2,2.3,5.3,5.5,6,9.3c0.6,3.3,0.3,6.3-1,8.9c-1.4,3-3.4,5.3-6.2,6.9
                          c-1.7,1-3.6,1.7-6,2c0,2.6,0,5.2,0,7.7l0,1.1c2.4-0.2,4.8-0.9,6-1.3c1.6-0.6,3.7-1.5,5.6-2.7c3.7-2.4,6.4-5.5,8.1-9.3
                          c0.9-2,1.8-4.3,2.1-6.5C-11.7,7.3-11.8,4.3-12.5,1.6z" />
                          <path class="st0" d="M37.7,6.2C23.5,6.2,11.9,17.8,11.9,32c0,3.2,0.7,6.4,1.8,9.4c-0.1,0.1-0.2,0.3-0.2,0.3l-0.6,0.7
                          c-0.4,0.4-0.9,0.5-1.5,0.3l-0.2-0.1c-1.7-0.7-7-2.8-8.9-3.5c-0.3,0.8-0.5,1.5-0.8,2.2c-0.3,1-0.7,1.9-1.1,3.2
                          c0.1,0.1,0.2,0.1,0.5,0.2c3.4,1.3,17.7,6.9,21.7,8.4c1.6-3.7,6.8-16.4,9-22.2l-2.1-0.8c-1.2-0.5-2.4-0.9-3.8-1.4
                          c-0.9,2.2-3.6,8.7-3.9,9.4c-0.3,0.7-1,0.8-1.9,0.8c-0.1,0-0.2,0-0.4,0c-0.9-2.2-1.3-4.6-1.3-7c0-10.7,8.7-19.4,19.4-19.4
                          S57.1,21.3,57.1,32c0,10.7-8.7,19.4-19.4,19.4v6.4c14.2,0,25.8-11.6,25.8-25.8C63.5,17.8,51.9,6.2,37.7,6.2z" />
                      </svg>
                  </a>
              </li>
              <li>
                  <a href="share.html">
                      <button type="submit">Partager</button>
                  </a>
              </li>
          </ul>
      </nav>
  </footer-->

<!--  profile -->
<!--footer class="footer-buttons">
      <nav>
          <ul>
              <li>
                  <a href="#">
                      <button type="submit">Modifier</button>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <button type="submit">Valider</button>
                  </a>
              </li>
          </ul>
      </nav>
  </footer-->

<!-- feedback -->
<!--footer>
      <nav>
          <ul>
              <li>
                  <a href="results.html">
                      <button>Valider</button>
                  </a>
              </li>
          </ul>
      </nav>
  </footer-->

<!-- explore -->
<!--footer>
      <nav>
          <ul>
              <li>
                  <a href="anim.html">
                      <button>Passer</button>
                  </a>
              </li>
          </ul>
      </nav>
  </footer-->

<!-- appfeedback -->
<!--footer>
      <nav>
          <ul>
              <li>
                  <a href="anim.html">
                      <button type="submit">Envoyer</button>
                  </a>
              </li>
          </ul>
      </nav>
  </footer-->
