<form action="">
  <input type="text" placeholder="Prénom">
  <input type="text" placeholder="Nom">
  <input type="text" placeholder="Âge">
  <input type="text" placeholder="Genre">
  <input type="text" placeholder="E-mail">
  <input type="text" placeholder="Mot de passe">
</form>
<span class="line"></span>
<div class="notification-button">
  <span>Notifications</span>
  <input class="toggle-control" type="checkbox" id="notifications">
  <label for="notifications"></label>
</div>
