<main>
  <!-- class="explore" -->
  <section>
    <article>
      <form action="">
        <textarea name="feedback" id="" placeholder="Taper votre text ici..."></textarea>
        <!-- <button type="submit" value="submit">Envoyer</button> -->
      </form>
    </article>
  </section>
</main>
