<main>
  <section>
    <div class="notification-button">
      <span>On / Off</span>
      <input class="toggle-control" type="checkbox" id="on-off">
      <label for="on-off"></label>
    </div>
    <span class="line"></span>
    <div class="notification-button">
      <span>Rappel d'excercices</span>
      <input class="toggle-control" type="checkbox" id="recall">
      <label for="recall"></label>
    </div>
    <div class="notification-button">
      <span>Sur l'application</span>
      <input class="toggle-control" type="checkbox" id="notification">
      <label for="notification"></label>
    </div>
    <div class="notification-button">
      <span>Par e-mail</span>
      <input class="toggle-control" type="checkbox" id="mail">
      <label for="mail"></label>
    </div>
    <div class="notification-button">
      <span>Encouragements</span>
      <input class="toggle-control" type="checkbox" id="encouragement">
      <label for="encouragement"></label>
    </div>
  </section>
</main>
