
  <div class="statistic">
    <main>
    	<aside>
            <h2>
              <a href="#">
                <svg id="icon-arrow-left2" viewBox="0 0 32 32">
                  <path d="M12.586 27.414l-10-10c-0.781-0.781-0.781-2.047 0-2.828l10-10c0.781-0.781 2.047-0.781 2.828 0s0.781 2.047 0 2.828l-6.586 6.586h19.172c1.105 0 2 0.895 2 2s-0.895 2-2 2h-19.172l6.586 6.586c0.39 0.39 0.586 0.902 0.586 1.414s-0.195 1.024-0.586 1.414c-0.781 0.781-2.047 0.781-2.828 0z">
                  </path>
                </svg>
              </a>
              Année 2018
              <a href="#">
                <svg id="icon-arrow-right2" viewBox="0 0 32 32">
                  <path d="M19.414 27.414l10-10c0.781-0.781 0.781-2.047 0-2.828l-10-10c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l6.586 6.586h-19.172c-1.105 0-2 0.895-2 2s0.895 2 2 2h19.172l-6.586 6.586c-0.39 0.39-0.586 0.902-0.586 1.414s0.195 1.024 0.586 1.414c0.781 0.781 2.047 0.781 2.828 0z">
                  </path>
                </svg>
              </a>
            </h2>
        </aside>
    	<section>
    		<div class="vertical-align">
    			<ul class="evaluation year">
	    		<li>
	    			<div></div>
	    			<span>J</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>F</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>M</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>A</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>M</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>J</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>J</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>A</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>S</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>O</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>N</span>
	    		</li>
	    		<li>
	    			<div></div>
	    			<span>D</span>
	    		</li>
	    	</ul>
    		</div>

    		</div>
    	</section>
    </main>
    <footer>
        <nav>
              <h2>Total d'étoile: <strong>1040</strong></h2>
        </nav>
    </footer>
  </body>
</html>
